workflow/sentiment-analysis-workflow.json
{
  "name": "sentiment check",
  "nodes": [
    {
      "parameters": {
        "formTitle": "review",
        "formDescription": "how satisfied are you",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "your name ",
              "requiredField": true
            },
            {
              "fieldLabel": "Your review",
              "placeholder": "your review",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -48,
        -32
      ],
      "id": "5230a4cf-a676-48ea-9576-11c8bf095134",
      "name": "On form submission",
      "webhookId": "3a7068cd-5032-4733-8415-d20bfc1b4f1d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Your review'] }}",
        "messages": {
          "messageValues": [
            {
              "message": "=you are an expert in sentiment analysis.\nyou conduct evaluations and determine which of the three options applies:\n\nPositive \nNegative\nNeutral \nYou respond with only one word. \n\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        224,
        64
      ],
      "id": "b4f12ef9-426a-43ce-93e3-bace7ed3e372",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        208
      ],
      "id": "44ac1474-9a88-41ea-993d-720ccfddb3e4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        -16
      ],
      "id": "1bf16a14-74d2-4be4-9d29-39d4498c9284",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1U18vHpJFz29uOK3LXfDg3RGHlTcGi86mQiLXDsRVRB4",
          "mode": "list",
          "cachedResultName": "sentiment analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U18vHpJFz29uOK3LXfDg3RGHlTcGi86mQiLXDsRVRB4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U18vHpJFz29uOK3LXfDg3RGHlTcGi86mQiLXDsRVRB4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Review": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Review",
              "displayName": "Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        -16
      ],
      "id": "7c541677-42aa-4079-9965-a39cbbdccde3",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DsAT0f4cz7EDz7SL",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "963a8e10-5c1f-4f70-bcf6-59e4b550f74e",
  "meta": {
    "instanceId": "b86f06082f0ee66852be62221584f6d36dd9b0b82dcf62bf7aafceddc9610fad"
  },
  "id": "fXBFPD8SVbGeYCJ4",
  "tags": []
}